<div class="my-profile">
    <div class="overlap-group">
      <div class="overlap-group3">
        <div class="rectangle-2"></div>
        <h1 class="title poppins-semi-bold-midnight-moss-60px">Weight Room</h1>
      </div>
      <div class="overlap-group1">
        <div class="rectangle-16"></div>
        <img
          class="rectangle-1"
          src="rectangle-1-1.png"
        />
        <img
          class="rectangle-18"
          src="rectangle-18.png"
        />
        <div class="rectangle-3"></div>
        <img
          class="vector-10"
          src="vector-1.png"
        />
        <img
          class="vector-7"
          src="vector-2.png"
        />
        <img
          class="vector-2"
          src="vector-1.png"
        />
        <img
          class="vector-13"
          src="vector-1.png"
        />
        <img
          class="vector-21"
          src="vector-1.png"
        />
        <div class="text-2 poppins-semi-bold-midnight-moss-30px">USER TESTIMONIALS FROM RECOMMENDED GYMS</div>
        <div class="username987 poppins-semi-bold-white-26px">Username987</div>
        <img
          class="ellipse-6"
          src="ellipse-6-1.png"
        />
        <img
          class="ellipse-9"
          src="ellipse-9.png"
        />
        <img
          class="ellipse-10"
          src="ellipse-10.png"
        />
        <img
          class="vector-25"
          src="vector-11.png"
        />
        <div class="rectangle-17"></div>
        <img
          class="vector-24"
          src="vector-1.png"
        />
        <img
          class="vector-3"
          src="vector-2.png"
        />
        <img
          class="vector-26"
          src="vector-1.png"
        />
        <img
          class="vector-12"
          src="vector-1.png"
        />
        <img
          class="vector-4"
          src="vector-1.png"
        />
        <div class="username-jj poppins-semi-bold-white-26px">UsernameJJ</div>
        <img
          class="ellipse-11"
          src="ellipse-9.png"
        />
        <img
          class="vector-18"
          src="vector-11.png"
        />
        <div class="text-3 poppins-normal-black-20px">
          “GYM 1 helped me achieve my fitness goal of having a stronger core. Highly recommend it!
        </div>
        <div class="text-4 poppins-normal-black-20px">
          “GYM 3 helped me find the perfect personal trainer that helped me lose 10 lbs in 6 mos. Thanks!”
        </div>
      </div>
      <div class="overlap-group2">
        <div class="rectangle-4"></div>
        <div class="rectangle-7"></div>
        <img
          class="vector-22"
          src="vector-6.png"
        />
        <img
          class="vector-19"
          src="vector-6.png"
        />
        <img
          class="vector-1"
          src="vector-6.png"
        />
        <img
          class="vector-8"
          src="vector-6.png"
        />
        <img
          class="vector-16"
          src="vector-6.png"
        />
        <div class="rectangle-8"></div>
        <img
          class="group-5"
          src="group-5-1.png"
        />
        <img
          class="group-6"
          src="group-6-1.png"
        />
        <img
          class="group-7"
          src="group-5-1.png"
        />
        <img
          class="group-8"
          src="group-6-1.png"
        />
        <div class="rectangle-9"></div>
        <div class="text-1 poppins-semi-bold-midnight-moss-30px">Get a membership at a recommended gym in your area!</div>
        <div class="rectangle-10"></div>
        <div class="rectangle-14"></div>
        <div class="rectangle-15"></div>
        <div class="rectangle-13"></div>
        <div class="gym-1 poppins-semi-bold-white-26px">GYM 1</div>
        <img
          class="group-4"
          src="group-5-1.png"
        />
        <img
          class="group-3"
          src="group-6-1.png"
        />
        <div class="gym-2 poppins-semi-bold-white-26px">GYM 2</div>
        <div class="gym-3 poppins-semi-bold-white-26px">GYM 3</div>
        <img
          class="vector-11"
          src="vector-6.png"
        />
        <img
          class="vector-17"
          src="vector-6.png"
        />
        <img
          class="vector"
          src="vector-6.png"
        />
        <img
          class="vector-9"
          src="vector-6.png"
        />
        <img
          class="vector-14"
          src="vector-6.png"
        />
        <img
          class="vector-23"
          src="vector-6.png"
        />
        <img
          class="vector-6"
          src="vector-6.png"
        />
        <img
          class="vector-15"
          src="vector-6.png"
        />
        <img
          class="vector-20"
          src="vector-6.png"
        />
        <img
          class="vector-5"
          src="vector-27.png"
        />
      </div>
    </div>
  </div>