<div class="challenge-me-page">
    <div class="overlap-group">
      <div class="overlap-group4">
        <div class="rectangle-2"></div>
        <h1 class="title poppins-semi-bold-midnight-moss-60px">Challenge Me</h1>
      </div>
      <div class="overlap-group3">
        <div class="rectangle-3"></div>
        <div class="rectangle-5"></div>
        <div class="url poppins-medium-chicago-20px">URL:</div>
        <div class="text-2 poppins-semi-bold-white-40px">
          To Unlock&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ‘s
          Season Finale
        </div>
      </div>
      <div class="overlap-group2">
        <div class="rectangle-4"></div>
        <div class="tasks poppins-semi-bold-midnight-moss-30px">TASKS</div>
        <div class="text-1 poppins-medium-chicago-20px">I can’t do these tasks</div>
        <div class="rectangle-10"></div>
        <div class="address poppins-normal-white-26px">5 Sets of 5 Jumping Jacks</div>
        <div class="rectangle-16"></div>
        <div class="do-a-half-mile-jog poppins-normal-white-26px">Do a Half-Mile Jog</div>
      </div>
      <div class="overlap-group1">
        <div class="rectangle-9"></div>
        <div class="rules poppins-semi-bold-midnight-moss-30px">RULES</div>
        <div class="rectangle-13"></div>
      </div>
    </div>
  </div>
  