<div class="challenge-us-page">
    <div class="overlap-group">
      <div class="overlap-group3">
        <div class="rectangle-2"></div>
        <h1 class="title poppins-semi-bold-midnight-moss-60px">Challenge Us</h1>
      </div>
      <div class="overlap-group5">
        <div class="rectangle-3"></div>
        <div class="rectangle-5"></div>
        <div class="url poppins-medium-chicago-20px">URL:</div>
        <div class="text-2 poppins-semi-bold-white-40px">
          To Unlock&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ‘s
          Season Finale
        </div>
      </div>
      <div class="overlap-group1">
        <div class="rectangle-17"></div>
        <div class="players poppins-semi-bold-midnight-moss-30px">PLAYERS</div>
        <div class="rectangle-21"></div>
        <div class="bobbydl poppins-normal-white-26px">Bobby.dl</div>
        <div class="rectangle-22"></div>
        <div class="username123 poppins-normal-white-26px">Username123</div>
        <div class="rectangle-23"></div>
        <div class="username456 poppins-normal-white-26px">Username456</div>
        <div class="rectangle-24"></div>
        <div class="username-b94 poppins-normal-white-26px">UsernameB94</div>
        <img
          class="rectangle-25"
          src="rectangle-25.png"
        />
        <img
          class="rectangle-26"
          src="rectangle-26.png"
        />
        <img
          class="rectangle-27"
          src="rectangle-27.png"
        />
        <img
          class="rectangle-28"
          src="rectangle-28.png"
        />
      </div>
      <div class="overlap-group2">
        <div class="rectangle-4"></div>
        <div class="tasks poppins-semi-bold-midnight-moss-30px">TASKS</div>
        <div class="text-1 poppins-medium-chicago-20px">I can’t do these tasks</div>
        <div class="rectangle-10"></div>
        <div class="address poppins-normal-white-26px">5 Sets of 5 Narrow Push-Ups</div>
        <div class="rectangle-"></div>
        <div class="rectangle-"></div>
        <div class="rectangle-"></div>
        <div class="do-a-half-mile-jog poppins-normal-white-26px">Do a Half-Mile Jog</div>
      </div>
      <div class="overlap-group4">
        <div class="rectangle-9"></div>
        <div class="rules poppins-semi-bold-midnight-moss-30px">RULES</div>
        <div class="rectangle-19"></div>
        <div class="text-3 poppins-normal-white-26px">Be the first to finish the tasks</div>
        <div class="rectangle-13"></div>
      </div>
    </div>
  </div>